services:
  youtubecommentsfetcher:
    image: thevsakeeper/youtubecommentsfetcherweb:latest
    container_name: youtubecommentsfetcher
    pull_policy: always
    environment:
      YouTubeApiKey: ${YCF_YOUTUBE_API_KEY}
      AdminSettings__AdminApiKey: ${YCF_ADMIN_API_KEY}
      DataPath__DataDirectory: ${YCF_DATA_DIRECTORY}
    ports:
      - "${YCF_HTTP_PORT:-8080}:8080"
    volumes:
      - ./data:/app/Data
      - ./logs:/app/logs
    restart: unless-stopped
